@model IEnumerable<MessageRegister.Models.Message>

@{
    ViewBag.Title = "SMS List History";
}

<h2>SMS List History</h2>

<p>
    @Html.ActionLink("Send SMS", "Create")
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MesaggeTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MesaggeTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageUser)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
